Package: com.rango.dissipate
Name: Dissipate
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide Icon Labels on iOS 12 and below!
Maintainer: Rango
Author: Yung Specht
Section: Tweaks
Depiction: https://yungspecht.github.io/depictions/?p=com.rango.dissipate
Version: 1.0
Installed-Size: 132
